
// features 3
.features-3 {
    .img-content {
        position: relative;

        &::before {
            content: "";
            background: url('/assets/images/pattern/dot5.svg');
            width: 5rem;
            height: 5rem;
            position: absolute;
            top: -2rem;
            left: -2rem;
            z-index: -1;
        }

        &::after {
            content: "";
            background: url('/assets/images/pattern/dot2.svg');
            width: 5rem;
            height: 5rem;
            position: absolute;
            bottom: -2rem;
            right: -2rem;
            z-index: -1;
        }
    }

    .img-content2 {
        position: relative;

        &::before {
            content: "";
            background: url('/assets/images/pattern/dot5.svg');
            width: 5rem;
            height: 5rem;
            position: absolute;
            top: -2rem;
            right: -2rem;
            z-index: -1;
        }

        &::after {
            content: "";
            background: url('/assets/images/pattern/dot2.svg');
            width: 5rem;
            height: 5rem;
            position: absolute;
            bottom: -2rem;
            left: -2rem;
            z-index: -1;
        }
    }
}

@media (max-width: 768px) {
    .features-3 {
        .img-content,
        .img-content2 {
            .img-up {
                margin: 0 auto;
                max-width: 90%;
            }
        }
        .img-content {
            &::after {
                right: 0rem;
            }
            &::before {
                left: 0rem;
            }
        }
        .img-content2 {
            &::after {
                left: 0rem;
            }
            &::before {
                right: 0rem;
            }
        }
    }
}
